{% extends "../inc/base.html" %}

{% block container %}
<!-- APP MAIN ==========-->
<main id="app-main" class="app-main">
    <div class="wrap">
        <section class="app-content">
            <div class="m-b-xl">
                <h1 style="font-size: 48px;">Menu List</h1>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <button type="button" class="btn mw-md btn-primary" data-toggle="modal"
                                        data-target=".bs-example-modal-lg">Add
                                </button>
                            </h4>
                        </div>

                        <ul class="list-group">
                            {% asyncEach item in menu.data %}
                            <a href="/admin/menu/item/id/{{item._id}}">
                                <li class="list-group-item">
                                    <span class="badge badge-success"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                    <span class="badge badge-success"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                    {{item.name}}
                                </li>
                            </a>
                            {% endeach %}
                        </ul>
                        <div class="panel-body">
                            {{navigator|safe}}
                        </div>


                    </div>
                </div><!-- END column -->

            </div><!-- .row -->
        </section><!-- .app-content -->
    </div><!-- .wrap -->
</main>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Menu</h4>
            </div>
            <div class="modal-body">


                <div class="widget-body">

                    <form method="post" action="/admin/menu/update">
                        <div class="form-group">
                            <label for="menu">Menu ID</label>
                            <input type="text" class="form-control" name="_id" id="menu"  disabled>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="url">Url</label>
                            <input type="text" class="form-control" id="url" name="url"
                                   placeholder="Url">
                        </div>
                        <div class="form-group">
                            <label for="order">Url</label>
                            <input type="number" class="form-control" id="order" name="order"
                                   placeholder="Order">
                        </div>
                        <button type="submit" class="btn btn-primary btn-md">Submit</button>
                    </form>
                </div><!-- .widget-body -->

            </div>

        </div>
    </div>
</div>
{% endblock %}