<!-- BEGIN FOOTER -->
<footer>
    <div class="row">
        <div class="col-md-12">
            <div class="social">
                <a href="http://weibo.com/234001757" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></i>
                </a>
                <a href="https://github.com/AaronLeong" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="javascript:;" data-toggle="modal" data-target=".bs-example-modal-sm" target="_blank"><i
                        class="fa fa-weixin"></i></a>
                <a href="http://stackoverflow.com" target="_blank"><i class="fa fa-stack-overflow"
                                                                      aria-hidden="true"></i></a>
            </div>
            <p>
                © 2016 All Right Reserved - Design By AaronLeong | SWJTU
            </p>
        </div>
    </div>
</footer>
<!-- END FOOTER -->


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span-->
                        <!--class="sr-only">Close</span></button>-->
                <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
            <!--</div>-->
            <div class="col-sm-12">
                <img class="col-sm-12" src="/static/img/wechat.png">
            </div>
        </div>
    </div>
</div>