{% macro recents_posts(recentPosts) %}
<div class="row widget">
    <div class="col-md-12">
        <div class="recent-post-widget">
            <h3 class="widget-title">
                Recent Posts
            </h3>
            <ul>
                {% asyncEach item in recentPosts %}
                <li>
                    <a href="/post/item/id/{{item._id}}">{{item.title}}</a>
                </li>
                {% endeach %}
            </ul>
        </div>
    </div>
</div>
{% endmacro %}