<!-- BEGIN FOOTER -->
<footer>
    <div class="row">
        <div class="col-md-12">
            <div class="social">
                <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                <a href="javascript:;"><i class="fa fa-pinterest"></i></a>
                <a href="javascript:;"><i class="fa fa-dribbble"></i></a>
            </div>
            <p>
                © 2015  All Right Reserved  - Design By  AaronLeong | SWJTU
            </p>
        </div>
    </div>
</footer>
<!-- END FOOTER -->