
<link rel="stylesheet" type="text/css" href="/static/admin/markdown/wangeditor/css/wangEditor.min.css">
<link rel="stylesheet" href="/static/admin/markdown/webuploader/ezviz/upload.css"/>
<script src="/static/admin/markdown/webuploader/ezviz/jquery.form.js"></script>
<script src="/static/admin/markdown/webuploader/ezviz/uploader.js"></script>

<script type="text/javascript" src="/static/admin/markdown/wangeditor/js/wangEditor.min.js"></script>
<script type="text/javascript" src="/static/admin/js/post.js"></script>
